# Solutions
1. [Operators](#1.-Operators)
1. [What is Python?](#2.-What-is-Python?)
1. [Objects and Types](#3.-Objects-and-Types)
1. [Strings](#4.-Strings)
1. [Lists](#5.-Lists)
1. [Ranges and Constructors](#6.-Ranges-and-Constructors)
1. [Control Flow](#7.-Control-Flow)
1. [Functions](#8.-Functions)
1. [Tuples, Sets and Dictionaries](#9.-Tuples,-Sets-and-Dictionaries)

## 1. Operators

### Exercise 1
<span style="color:green">How many seconds are there in a century?</span>

In [1]:
60 * 60 * 24 * 365.25 * 100

3155760000.0

### Exercise 2
<span style="color:green">Write an expression to find the amount of money (as a whole number rounded down to the nearest integer) that each person would get if a one-million dollar lottery was divided equally amongst 436 people.</span>

In [2]:
1000000 // 436

2293

### Exercise 3
<span style="color:green">Repeat exercise 2, except use one-trillion dollars. Use the exponentiation operator instead of writing lots of 0's.</span>

In [3]:
10 ** 12 // 436

2293577981

### Exercise 4
<span style="color:green">One-million dollars does not divide evenly amongst 436 people. Write a single expression to calculate the number of extra dollars that need to be added to the pot so that each person receives one more dollar than was calculated in Exercise 2. Do not use the result of Exercise 2. Verify the result in a separate cell.</span>

In [4]:
436 - 1000000 % 436

184

In [5]:
(1000000 + 184) / 436

2294.0

### Exercise 5
<span style="color:green">Which is greater: 245 times 99 or 8 raised to the 5th power?</span>

In [6]:
245 * 99 > 8 ** 5

False

### Exercise 6
<span style="color:green">Used a chained comparison to show that 2 raised to the 10th power is greater than 10 raised to the 3rd power which is greater than 31 squared.</span>

In [7]:
2 ** 10 > 10 ** 3 > 31 ** 2

True

### Exercise 7
<span style="color:green">How many unary operators are present in the following expression? 
    
`-6 / -5 - 4 - 3 ** 2 * -1`</span>

There are three. -6, -5, -1

### Exercise 8
<span style="color:green">Create an expression that uses arithmetic, comparison, unary, and boolean operators that evaluates to `False`.</span>

In [8]:
4 * 7 > 30 or -4 ** 2 > 0

False

### Exercise 9
<span style="color:green">You purchase a phone for 99 dollars. There is 8 percent sales tax. Compute the total price. Use at least three variables to store the information for this problem. Output all the variables at the same time.</span>

In [9]:
phone = 99
tax_rate = .08
tax = phone * tax_rate
total = phone + tax
phone, tax_rate, tax, total

(99, 0.08, 7.92, 106.92)

### Exercise 10
<span style="color:green">Read about how to find the square root of a number with [Newton's Method][0]. Use an augmented assignment statement to update the guess with Newton's Method. Run the cell that updates the guess multiple times in succession to see how quickly it finds the square root.</span> 

<span style="color:green">Remember, that you can execute a cell with `ctrl + enter` to keep it selected. This will help you run it multiple times in a row.</span>

[0]: https://en.wikipedia.org/wiki/Newton%27s_method#Square_root_of_a_number

In [10]:
# initial guess and number you want to take the square root of
guess = 100
number = 47891

In [11]:
# use an augmented assignment statement to update the guess with Newton's Method
guess -= (guess ** 2 - number) / (2 * guess)

# leave this here so that you can see the updated guess each time the cell is run
guess

289.45500000000004

## 2. What is Python?

## 3. Objects and Types

### Exercise 1
<span style="color:green">What is the type of the number 0?</span>

In [12]:
type(0)

int

### Exercise 2
<span style="color:green">What is `True` raised to the `False`?</span>

In [13]:
# All numbers raised to the 0 power equal 1
True ** False

1

### Exercise 3
<span style="color:green">Verify that `1e6` and one million are equivalent.</span>

In [14]:
1e6 == 1_000_000

True

### Exercise 4
<span style="color:green">Do you think the operation `6 / 2` will result in an int or a float? Use the `type` function to see if you were correct. Was it the type you expected? Why do you think it evaluates as that type? </span>

It evaluates to 3.0 which is a float. Even though 2 divides into 6 evenly, it returns a float because every other division that does not divide evenly must return a number with a decimal, which is a float. To be consistent, Python chooses to always return a float when doing true division even if there is no remainder.

In [15]:
type(6 / 2)

float

## 4. Strings

### Exercise 1
<span style="color:green">Create a string using single quote marks and assign it to variable `a`.</span>

In [16]:
a = 'Frozen'

### Exercise 2
<span style="color:green">Create the same string from exercise 1 with double quotes, triple single quotes, and triple double quotes saving them to variables `b`, `c`, and `d`. Use a chained comparison to test that all three strings have equal values.</span>

In [17]:
b = "Frozen"
c = '''Frozen'''
d = """Frozen"""
a == b == c == d

True

### Exercise 3
<span style="color:green">Create a string using single quotes that contains one double quotes character in it.</span>

In [18]:
'string with one " in it'

'string with one " in it'

### Exercise 4
<span style="color:green">Use escape characters to create the string</span> `'C:\Users\Ted'`<span style="color:green">. Assign it to variable `a` and output it to the screen.</span>

In [19]:
a = 'C:\\Users\\Ted'
a

'C:\\Users\\Ted'

### Exercise 5
<span style="color:green">Use the `print` function to verify that the string you created in exercise 4 is correct.</span>

In [20]:
print(a)

C:\Users\Ted

### Exercise 6
<span style="color:green">Use a comparison operator to verify that the strings 'word' and 'WORD' are not equal.</span>

In [21]:
'word' != 'WORD'

True

### Exercise 7
<span style="color:green">Which string is greater, 'Zero' or 'hero'?</span>

In [22]:
'Zero' > 'hero'

False

### Exercise 8
<span style="color:green">Use the `ord` function to verify the result from exercise 7.</span>

In [23]:
ord('Z')

90

In [24]:
ord('h')

104

### Exercise 9
<span style="color:green">Is it possible to concatenate a string and an integer together?</span>

In [25]:
# no
'asdf' + 5

TypeError: can only concatenate str (not "int") to str

### Exercise 10
<span style="color:green">Concatenate two strings together that both have length greater than 1.</span>

In [26]:
'unicode' + ' code point'

'unicode code point'

### Exercise 11
<span style="color:green">Concatenate a non-empty string to an empty string.</span>

In [27]:
'unicode' + ''

'unicode'

### Exercise 12
<span style="color:green">Replace each occurrence of 'in' with 'out' in the following string. </span>

In [28]:
replace_string = 'it is starting to rain on the inside'
replace_string.replace('in', 'out')

'it is startoutg to raout on the outside'

### Exercise 13
<span style="color:green">Find and use a method that will strip away all the exclamation points from either end of the following string.</span>

In [29]:
s = '!!!!a string with a dull message!!!!'
s.strip('!')

'a string with a dull message'

### Exercise 14
<span style="color:green">Find and use a method that will find the position of the first occurrence of the letter `t` in the following string. </span>

In [30]:
s = 'a data scientist'
s.find('t')

4

### Exercise 15
<span style="color:green">Use a method chain to do the following to the given string: Strip each letter 'a' from the left side and then switch the case of each letter (from lower to upper and from upper to lower).</span>

In [31]:
test_string = 'aaaa TOO many aaaaaaaaa'
test_string.lstrip('a').swapcase()

' too MANY AAAAAAAAA'

### Exercises 16-23
Use the following string, `s`, for all exercies 16-23

In [32]:
s = 'the astros will win the world series again in 2019'

### Exercise 16
<span style="color:green">Select index 9 from `s`.</span>

In [33]:
s[9]

's'

### Exercise 17
<span style="color:green">Select the third to last character from `s`.</span>

In [34]:
s[-3]

'0'

### Exercise 18
<span style="color:green">Select the last 10 characters from `s`.</span>

In [35]:
s[-10:]

'in in 2019'

### Exercise 19
<span style="color:green">Select the substring 'astros' from `s`.</span>

In [36]:
s[4:10]

'astros'

### Exercise 20
<span style="color:green">Slice `s` from index 5 to the end by every 4th character.</span>

In [37]:
s[5::4]

'ssliho ian 9'

### Exercise 21
<span style="color:green">Select every third character from `s` starting from the last character and ending with the first. </span>

In [38]:
s[::-3]

'92iiaeedoe wl rah'

### Exercise 22
<span style="color:green">Does the string 'row' appear in `s`?</span>

In [39]:
'row' in s

False

### Exercise 23
<span style="color:green">Does the string 'row' appear in the reverse of `s`?</span>

In [40]:
'row' in s[::-1]

True

### Exercise 24
<span style="color:green">A palindrome is a string that has the same order of charcaters when it is reversed. Create a palindrome that has at least 5 characters in it and assign it to variable `a`. Verify that it is a palindrome.</span>

In [41]:
a = 'racecar'
a == a[::-1]

True

### Exercise 25
<span style="color:green">Use four chained methods on a string of your choice.</span>

In [42]:
# Enter in a string inside the quotes
your_string = '        blah blah and more blah'
your_string.title().ljust(0).strip().split() # returns list

['Blah', 'Blah', 'And', 'More', 'Blah']

### Exercise 26
<span style="color:green">What is the difference between the `find` and `rfind` methods? Call both of these methods on a string of your choice to show the difference.</span>

In [43]:
# find returns the first index of the passed argument
a = 'jupyter notebook'
a.find('o')

9

In [44]:
# rfind returns the last index of the passed argument
a.rfind('o')

14

### Exercise 27
<span style="color:green">Identify the components of the format specification `a>10_.3f`.</span>

* Fill - a
* Align - >
* Width - 10
* Grouping - _
* Precision - .3
* Type - f

### Exercise 28
<span style="color:green">Assign a float to the variable `a` that has at least 5 digits to the right of the decimal. Create an f-string that uses left-alignment with a width of 20 and a precision of 2 and uses a fixed-point float. Fill any unused width with the '@' character.</span>

In [45]:
a = 156.887347
f'{a:@<20.2f}'

'156.89@@@@@@@@@@@@@@'

### Exercise 29
<span style="color:green">Create a report similar to the one in the String Formatting section of this chapter with the following financial information. Make columns for company, shares, earnings, and earnings per share.
    <ul style="color:green">
        <li>Use 'EPS' as the column name for earnings per share</li>
        <li>Center-align the column names</li> 
        <li>Use 12 as the width for each column</li>
        <li>Display shares and earnings in scientific notation</li>
        <li>Limit all numeric fields to two decimal places</li>
        <li>Calculate EPS within the replacement field</li>        
    </ul></span>

In [46]:
# company
c1 = 'Apple'
c2 = 'Sclumberger'
# shares
s1 = 2345123776
s2 = 1955452766
# earnings
e1 = 5100000000
e2 = -899233640.33

In [47]:
print(f'{"Company":^12}|{"Shares":^12}|{"Earnings":^12}|{"EPS":^12}')
print('-' * 51)
print(f'{c1:<12}|{s1:>12.2e}|{e1:>12.2e}|{e1 / s1:>12.2f}')
print(f'{c2:<12}|{s2:>12.2e}|{e2:>12.2e}|{e2 / s2:>12.2f}')

  Company   |   Shares   |  Earnings  |    EPS
---------------------------------------------------
Apple       |    2.35e+09|    5.10e+09|        2.17
Sclumberger |    1.96e+09|   -8.99e+08|       -0.46

## 5. Lists

### Exercise 1
<span style="color:green">Create a list with 4 items that are each a different type and assign it to variable `a`. Output it to the screen.</span>

In [48]:
a = [-99, 3.14, True, 'python']
a

[-99, 3.14, True, 'python']

### Exercise 2
<span style="color:green">Verify that list `a` from exercise 1 has length 4.</span>

In [49]:
len(a)

4

### Exercise 3
<span style="color:green">Select the first item from list `a`.</span>

In [50]:
a[0]

-99

### Exercise 4
<span style="color:green">Select the last item from list `a`.</span>

In [51]:
a[-1]

'python'

### Exercise 5
<span style="color:green">Assign the third item in list `a` a different value of the same type. Output the list.</span>

In [52]:
a[2] = False
a

[-99, 3.14, False, 'python']

### Exercise 6
<span style="color:green">Mutate `list_2` and output both lists. Does mutating `list_2` change `list_1`? </span>

In [53]:
list_1 = [1, 5, 10]
list_2 = list_1
list_2[0] = 'changed'
list_1 # yes

['changed', 5, 10]

In [54]:
list_2

['changed', 5, 10]

### Exercise 7
<span style="color:green">Verify that `list_1` and `list_2` from exercise 6 refer to the same object.</span>

In [55]:
list_1 is list_2

True

### Exercise 8
<span style="color:green">In the following code, both `list_1` and `list_2` are defined to have the same items. Mutate `list_1`. Does `list_2` also get mutated?</span>

In [56]:
list_1 = [1, 3, 5]
list_2 = [1, 3, 5]
list_1[0] = -99
list_2 # no

[1, 3, 5]

Two new list objects are created separately and are completely different objects. They have no relation to one another, they just happen to have the same values.

### Exercise 9
<span style="color:green">Verify that `list_1` and `list_2` from exercise 8 do not refer to the same object.</span>

In [57]:
list_1 is list_2

False

### Exercise 10
<span style="color:green">Does the identity of a list change after it is sorted? Use an example to determine the outcome.</span>

In [58]:
a = [5, 4, 3]
id(a)

4497751752

In [59]:
a.sort()
id(a)

4497751752

No, the id stays the same. It is still the same object that has been mutated.

### Exercise 11
<span style="color:green">Create two lists of different lengths and assign them to variables `a` and `b`. Use the + operator to concatenate the lists and assign the result to variable `c` and output it. Reassign the first value of list `c` to something else. Does list `a` also get mutated?</span>

In [60]:
a = [99, True, 'asdf']
b = [5.3, 123]
c = a + b
c

[99, True, 'asdf', 5.3, 123]

In [61]:
c[0] = 44

In [62]:
a # no it doesn't

[99, True, 'asdf']

### Exercise 12
<span style="color:green">Create a list then use the `extend` method to add items to it.</span>

In [63]:
test_list = [1, 2, 3]
test_list.extend(['more', 'items', 'to', 'add'])
test_list

[1, 2, 3, 'more', 'items', 'to', 'add']

### Exercise 13
<span style="color:green">Create a list of three items and assign it to variable `a`. Concatenate it to itself 4 times.</span>

In [64]:
a = [1, 2, 3]
a * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### Exercise 14
<span style="color:green">First create a list containing three inner lists. Replace the second list with a reverse of the third list.</span>

In [65]:
list_of_lists = [[1,2,3], [4,5,6], [7,8,9]]
list_of_lists[1] = list_of_lists[2][::-1]
list_of_lists

[[1, 2, 3], [9, 8, 7], [7, 8, 9]]

### Exercise 15
<span style="color:green">Use a method to find the index of the string 'python' in the following list.</span>

In [66]:
a = ['rattlesnake', 'cottonmouth', 'python', 'cobra']
a.index('python')

2

### Exercise 16
<span style="color:green">Create an empty list and assign it to a variable. Append the string 'python' to it. Then call the `extend` method and pass the string 'python' to it. Output the list.</span>

In [67]:
a = []
a.append('python')
a.extend('python')
a

['python', 'p', 'y', 't', 'h', 'o', 'n']

### Exercise 17
<span style="color:green">Can a list with only booleans, integers, and floats be sorted? Use an example to show why or why not.</span>

In [68]:
# yes
a = [.5, False, 3, True]
a.sort()
a

[False, 0.5, True, 3]

### Exercise 18
<span style="color:green">Select the even integers from list `a` as a new list.</span>

In [69]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[::2]

[0, 2, 4, 6, 8, 10]

### Exercise 19
<span style="color:green">Is the string 'py' an element of list `a`.</span>

In [70]:
a = ['python', 'numpy']
'py' in a

False

### Exercise 20
<span style="color:green">Is the string 'py' a substring of the first item in list `a`.</span>

In [71]:
a = ['python', 'numpy']
'py' in a[0]

True

### Exercise 21
<span style="color:green">Assign an empty list to variable `a`. Multiply this list by 1000 and find its length.</span>

In [72]:
a = []
len(a * 1000)

0

### Exercise 22
<span style="color:green">Use the character 'a' to separate and join the following list to reveal the magic word </span>

In [73]:
magic_word = ['', 'b', 'r', 'c', 'd', 'b', 'r', '!']
'a'.join(magic_word)

'abaracadabara!'

### Exercise 23
<span style="color:green">Concatenate the following list into a single string. Use a separator that will make a valid English sentence.</span>

In [74]:
sentence = ['H', 'rod', 'th', 'bik', 'twic', '.']
'e '.join(sentence)

'He rode the bike twice .'

## 6. Ranges and Constructors

### Exercise 1
<span style="color:green">Create a range that defines a sequence of all the integers from 0 to, but not including 100. </span>

In [75]:
range(100)

range(0, 100)

### Exercise 2
<span style="color:green">Create a range that defines a sequence of all the integers from 100 to, but not including 200.</span>

In [76]:
range(100, 200)

range(100, 200)

### Exercise 3
<span style="color:green">Create a range that defines a sequence of every fourth integer from 100 to, but not including 200.</span>

In [77]:
range(100, 200, 4)

range(100, 200, 4)

### Exercise 4

<span style="color:green">Create a range that defines a sequence of every 20th integer from 0 to, but not including 200.</span>

In [78]:
range(0, 200, 20)

range(0, 200, 20)

### Exercise 5
<span style="color:green">Is the number 87,649 a member of a sequence defined as every 113th integer from 0 to 100,000</span>

In [79]:
r = range(0, 100000, 113)
87649 in r

False

### Exercise 6
<span style="color:green">What is the 100th integer from the sequence defined as every 113th integer from 0 to 100,000</span>

In [80]:
r = range(0, 100000, 113)
r[100]

11300

### Exercise 7
<span style="color:green">Create an empty list and assign it to `a` and then pass it the `bool` constructor and output the returned value. Then append an item to the list, pass it to the same constructor and output the returned value.</span>

In [81]:
a = []
bool(a)

False

In [82]:
a.append(1)
bool(a)

True

### Exercise 8
<span style="color:green">Does the string `'0'` evaluate as True or False when passed to the `bool` constructor?</span>

In [83]:
bool('0')

True

### Exercise 9
<span style="color:green">Turn the string `s` into the integer 4 using two constructors.</span>

In [84]:
s = '4.6'
int(float(s))

4

### Exercise 10
<span style="color:green">Extract the integer part of string `s` and then use a single constructor to return the integer 4.</span>

In [85]:
s = '4.6'
int(s[0])

4

### Exercise 11
<span style="color:green">The sum of the digits of the number 826 is 16. Use the `str` constructor to help you sum these digits.</span>

In [86]:
a = 826
s = str(a)
s

'826'

In [87]:
int(s[0]) + int(s[1]) + int(s[2])

16

### Exercise 12
<span style="color:green">What is the 50th number in the integer sequence that begins at 813 and steps up by 41.</span>

In [88]:
r = range(813, 10000, 41)
r[50]

2863

### Exercise 13
<span style="color:green">Create a complex number using the complex constructor and assign it to `a`. Create that same complex number without the constructor and assign it to `b`. Verify that they are equal.</span>

In [89]:
a = complex(-3, 5)
b = -3 + 5j
a == b

True

### Exercise 14
<span style="color:green">Colors used in webpages are defined by the intensity of red, green, and blue. These are known as **RGB color values**. For instance, the color chocolate is defined as 210 for red, 105 for green, and 30 for blue. Each of the RGB color values range from 0 to 255 with higher values representing greater intensity. Often times, these colors are shown as a six-character hexidecimal (base 16) string with each red, green, and blue parts being two characters in length. The "HEX" string for chocolate is D2691E meaning D2 represents the intensity for red, 69 for green and 1E for blue. Can you verify that D2691E gives the correct intensities in base 10 for the color chocoloate?</span>

In [90]:
s = 'D2691E'
int('D2', 16)

210

In [91]:
int('69', 16)

105

In [92]:
int('1E', 16)

30

## 7. Control Flow

### Exercise 1
<span style="color:green">Is the following `if` statement written with correct syntax? If not, why?</span> 
```
x = 5
if x > 0:
print('x is positive')
```

Incorrect syntax. The code block must be indented at least one space.

### Exercise 2
<span style="color:green">Is the following `if` statement written with correct syntax? If not, why?</span> 
```
x = 5
if x > 0
    print('x is positive')
```

Incorrect syntax. Missing a colon at the end of the if statement.

### Exercise 3
<span style="color:green">Create an `if` statement with a condition that evaluates as `True`. Use the `print` function as the only line its code block to print a message to the screen.</span>

In [93]:
x = 5
if x > 0:
    print('x is positive')

x is positive

### Exercise 4
<span style="color:green">Change the value of `test_string` so that the first `print` function gets triggered.</span>

In [94]:
test_string = 'alfalfa tastes alright'
if test_string.count('a') > 4:
    print("There are more than 4 a's in your string")
elif test_string.find('k') > 10:
    print("The first k occurs after the 11th element")
else:
    print("No info on your string. Please change it")

There are more than 4 a's in your string

### Exercise 5
<span style="color:green">Change the value of `test_string` so that the second `print` function gets triggered.</span>

In [95]:
test_string = 'alfalfa tastes ok'
if test_string.count('a') > 4:
    print("There are more than 4 a's in your string")
elif test_string.find('k') > 10:
    print("The first k occurs after the 11th element")
else:
    print("No info on your string. Please change it")

The first k occurs after the 11th element

### Exercise 6
<span style="color:green">Assign an integer to `x`. Then, write an expression that returns `True` if `x` is either greater than 10 or divisible by 7.</span>

In [96]:
x = 40
(x > 10) or (x % 7 == 0)

True

### Exercise 7
<span style="color:green">Write an expression that returns `True` if the last character of a string is not 'a'.</span>

In [97]:
s = 'pythonista'
s[-1] != 'a'

False

Can also use the `endswith` method

In [98]:
not s.endswith('a')

False

### Exercise 8
<span style="color:green">Write a simple program that determines whether someone has enough money to pay for rent. If they have enough money, print out how much is left in the account. If they don't have enough, print out how much they owe. If they have the exact rent, print out a different message. Test your code with different values of rent.</span>

In [99]:
rent = 454.88
account = 645.22

if account > rent:
    print(f'You can pay rent. You have {account - rent:.2f} left')
elif account < rent:
    print(f'You cannot pay rent. You owe {rent - account:.2f} left')
else:
    print('You have exactly enough to pay rent. You have 0!')

You can pay rent. You have 190.34 left

### Exercise 9
<span style="color:green">Use a for-loop to sum up all the numbers from 1 to 1,000.</span>

In [100]:
total = 0
for i in range(1001):
    total += i
total

500500

### Exercise 10
<span style="color:green">Use a for-loop to calculate the mean (average) from the given list of values.</span>

In [101]:
values = [99, 143, 32, 412]
total = 0
for v in values:
    total += v
total / len(values)

171.5

### Exercise 11
<span style="color:green">Calculate the sum of the squared values of each of the first 100 positive integers.</span>

In [102]:
total = 0
for i in range(101):
    total += i ** 2
total

338350

### Exercise 12
<span style="color:green">Use a for-loop to iterate over the first 10 positive integers, printing out their squared value only if the value is greater than 50.</span>

In [103]:
for i in range(1, 11):
    squared_value = i ** 2
    if squared_value > 50:
        print(squared_value)

64
81
100

### Exercise 13
<span style="color:green">Use a for-loop to iterate over every 25th positive integer up to 200, appending its squared value to a list.</span>

In [104]:
squared_list = []
for i in range(1, 201, 25):
    squared_list.append(i ** 2)
squared_list

[1, 676, 2601, 5776, 10201, 15876, 22801, 30976]

### Exercise 14
<span style="color:green">Calculate the variance of the following list of values. To calculate the variance, first calculate the mean and assign it to a variable. Then, iterate through each value and find the difference between it and the mean. Square this difference. Finally, sum the squares of all these differences and divide by the total number of values.</span>

In [105]:
values = [913.41, -44, 77.77, 0, 23, 5]
total = 0
for v in values:
    total += v
mean = total / len(values)

sq_total = 0
for v in values:
    sq_total += (v - mean) ** 2
variance = sq_total / len(values)
variance

114059.99926666667

### Exercise 15
<span style="color:green">Use a for-loop to iterate over every integer from 100 to 999. Assign the first and last digits to variables (Hint: use integer division and the modulus operator). Create a list of only the numbers where the first digit is exactly 7 more than the last digit. Output the first and last 5 numbers of this list to verify that it is correct. </span>

In [106]:
a = []
for i in range(100, 1000):
    first = i // 100
    last = i % 10
    if first == last + 7:
        a.append(i)
a[:5]

[700, 710, 720, 730, 740]

In [107]:
a[-5:]

[952, 962, 972, 982, 992]

### Exercise 16
<span style="color:green">Use a while loop to find the sum of all integers between 0 and a given integer `x`. Output result.</span>

In [108]:
x = 20
total = 0
while x > 0:
    total += x
    x -= 1
total

210

### Exercise 17

<span style="color:green">Assign 'x' a positive integer. Use a while loop to find the sum of all integers between half of `x` and `x`.</span>

In [109]:
x = 10
half = x / 2
total = 0
while x >= half:
    total += x
    x -= 1
total

45

### Exercise 18

<span style="color:green">Use nested for-loops in this exercise. Write an outer for-loop to iterate over the integers 0 through 9. Within this for-loop, write an inner for-loop to iterate over the integers 0 through 4. Create two separate variables to count the total number of iterations for each loop and output their values. Is it what you expect?</span>

In [110]:
count_outer = 0
count_inner = 0
for i in range(10):
    count_outer += 1
    for j in range(5):
        count_inner += 1
count_outer, count_inner

(10, 50)

### Exercise 19

<span style="color:green">A well-known property of right triangles is that the hypotenuse squared equals the sum of the squares of the other two sides. This is known as the Pythagorean theorem and is usually written as $a^2 + b^2 = c^2$. A Pythagorean triple is a set of three integers that satisfy the theorem. For instance, 3, 4, and 5 are a Pythagorean triple as 9 + 16 = 25. Can you find all the Pythagorean triples where all sides are less than 20.

In [111]:
for a in range(1, 20):
    for b in range(1, 20):
        for c in range(1, 20):
            if a ** 2 + b ** 2 == c ** 2:
                print(a, b, c)

3 4 5
4 3 5
5 12 13
6 8 10
8 6 10
8 15 17
9 12 15
12 5 13
12 9 15
15 8 17

### Exercise 20
<span style="color:green">When rolling two dice, there are six combinations that make a total of 7 and two combinations that make a total of 11. Theoretically, 7 should be rolled three times as often as 11 (6 vs 2 combinations). Simulate the rolling of 1,000 dice to verify that this ratio is likely correct.</span>

In [112]:
import random
count_7 = 0
count_11 = 0
for i in range(1000):
    total = random.randint(1, 6) + random.randint(1, 6)
    if total == 7:
        count_7 += 1
    if total == 11:
        count_11 += 1
ratio = count_7 / count_11
print(f"7's rolled: {count_7}, 11's rolled: {count_11}, ratio {ratio:.2f}")

7's rolled: 171, 11's rolled: 73, ratio 2.34

### Exercise 21
<span style="color:green">Create a simulation to estimate the average number of rolls of two dice it takes until you get a total of 7 or 11. This will require nested loops.</span>

In [113]:
rolls = 0
n = 1000
for i in range(n):
    count = 0
    while True:
        count += 1
        total = random.randint(1, 6) + random.randint(1, 6)
        if total in [7, 11]:
            rolls += count
            break
        
print(f"Estimated Average {rolls / n}")

Estimated Average 4.346

### Exercise 22
<span style="color:green">It's possible to simulate someone playing craps until a certain criteria is met. Continually play the game of craps until the balance has doubled or until the player is out of money. Use the code from this chapter, but modify it so that the print statements are removed and that the balance is updated each game. Keep track of the number of games played and print this number out with the ending balance.</span>

In [114]:
import random
balance = 500
wager = 10
games = 0

while 0 < balance < 1000:
    games += 1
    die_1 = random.randint(1, 6)
    die_2 = random.randint(1, 6)
    total = die_1 + die_2

    if total in [2, 3, 12]:
        balance -= wager
    elif total in [7, 11]:
        balance += wager
    else:
        while True:
            die_1 = random.randint(1, 6)
            die_2 = random.randint(1, 6)
            new_total = die_1 + die_2
            if new_total == total:
                balance += wager
                break
            if new_total == 7:
                balance -= wager
                break
            
print(f'After {games} games the balance is {balance}')

After 986 games the balance is 0

### Exercise 23
<span style="color:green">Simulate the scenario in Exercise 22 1,000 times and determine what percentage of the time you would end up doubling your money. Use a print function to write out the results. Is craps a good investment? (this takes a while to simulate)</span>

In [115]:
n = 1000
doubled = 0
for i in range(n):
    balance = 500
    wager = 10
    games = 0

    while 0 < balance < 1000:
        games += 1
        die_1 = random.randint(1, 6)
        die_2 = random.randint(1, 6)
        total = die_1 + die_2

        if total in [2, 3, 12]:
            balance -= wager
        elif total in [7, 11]:
            balance += wager
        else:
            while True:
                die_1 = random.randint(1, 6)
                die_2 = random.randint(1, 6)
                new_total = die_1 + die_2
                if new_total == total:
                    balance += wager
                    break
                if new_total == 7:
                    balance -= wager
                    break
                    
    if balance == 1000:
        doubled += 1

print(f'Money was doubled {doubled / n:.1%} percent of the time')

Money was doubled 16.4% percent of the time

### Exercise 24
<span style="color:green">Use a list comprehension to create a list that divides each of the integers 0 through 9 by 4.</span>

In [116]:
[x / 4 for x in range(10)]

[0.0, 0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75, 2.0, 2.25]

### Exercise 25
<span style="color:green">Find the difference between twice a number and the square of each number for all the integers 0 through 9. Use a list comprehension.</span>

In [117]:
[2 * x - x ** 2 for x in range(10)]

[0, 1, 0, -3, -8, -15, -24, -35, -48, -63]

### Exercise 26
<span style="color:green">Use a list comprehension to concatenate the first and last character of each of the strings in the following list.</span>

In [118]:
words = ['list', 'comprehensions', 'rock']
[word[0] + word[-1] for word in words]

['lt', 'cs', 'rk']

### Exercise 27
<span style="color:green">Use a conditional list comprehension to return all of the strings from a list of strings that have the letter 'e' in them.</span>

In [119]:
words = ['List', 'comprehensions', 'are', 'fantastic']
[word for word in words if 'e' in word]

['comprehensions', 'are']

### Exercise 28
<span style="color:green">Use a conditional list comprehension to return a list of just the vowels of the following string.</span>

In [120]:
letters = 'Aardvarks are native to Africa'
[letter for letter in letters.lower() if letter in 'aeiou']

['a', 'a', 'a', 'a', 'e', 'a', 'i', 'e', 'o', 'a', 'i', 'a']

### Exercise 29

<span style="color:green">Write a list comprehension that loops through all numbers between 0 and 49, filters them for those that end in 3 or 7 and then squares the number.</span>

In [121]:
[i ** 2 for i in range(50) if i % 10 in [3, 7]]

[9, 49, 169, 289, 529, 729, 1089, 1369, 1849, 2209]

### Exercise 30

<span style="color:green">Rewrite the following code using the ternary conditional operator.</span>

```
x = 100
if x > 99:
     label = 'perfect'
else:
     label = 'still need work to do
```

In [122]:
x = 100
label = 'perfect' if x > 99 else 'still need work to do'
label

'perfect'

### Exercise 31

<span style="color:green">Use the ternary conditional operator to square a number if it's even and raise it to the third power if it's odd.</span>

In [123]:
x = 19
result = x ** 2 if x % 2 == 0 else x ** 3
result

6859

You can eliminate the equality test using the truth value of the remainder but you'll need to switch the expressions.

In [124]:
result = x ** 3 if x % 2 else x ** 2
result

6859

### Exercise 32

<span style="color:green">The ranges below contain the lengths and widths in feet of rectangular rooms that will be tiled. The price per square foot for different tiles is given in the `price` list. Use a list comprehension to return the total price for each room, but only if the room is greater than 800 square feet.</span>

In [125]:
length = range(10, 30, 5)
width = range(2,40,2)
price = [1, 2, 4]

total_price = [l * w * p for l in length for w in width for p in price if l * w > 800]
total_price

[850, 1700, 3400, 900, 1800, 3600, 950, 1900, 3800]

### Exercise 33

<span style="color:green">Rewrite the list comprehension in exercise 32 using nested for-loops and normal if/then statements.</span>

In [126]:
total_price = []
for l in length:
    for w in width:
        for p in price:
            if l * w > 800:
                total_price.append(l * w * p)
total_price

[850, 1700, 3400, 900, 1800, 3600, 950, 1900, 3800]

### Exercise 34

<span style="color:green">Use a while loop with just the given list as the condition. In the loop's code block. Remove the last item of the list and print it to the screen. There is a list method that does this removal for you. The while loop should end when the truth value of the list evaluates as `False`.</span>

In [127]:
words = ['Launch!!!', 1, 2, 3, 4, 5]
while words:
    print(words.pop())

5
4
3
2
1
Launch!!!

## 8. Functions

### Exercise 1

<span style="color:green">Create three different variables with three different data types then use the `type` function to verify that the types are indeed different</span>

In [128]:
a = True
b = 5
c = 7.4
type(a), type(b), type(c)

(bool, int, float)

### Exercise 2

<span style="color:green">The `eval` builtin function, takes a string as an argument and executes that string if it were Python code. Create a variable that stores a string that looks like Python code. Then use the `eval` function to execute this code string.</span>

In [129]:
code_string = '5 + 5'
eval(code_string)

10

### Exercise 3

<span style="color:green">Use the help or [read the official documentation](https://docs.python.org/3/library/functions.html) about how to use the `all` and `any` functions and use them correctly below.</span>

In [130]:
bool_list = [True, False, 5 > 0]
all(bool_list)

False

In [131]:
any(bool_list)

True

### Exercise 4

<span style="color:green">Define a function that finds the area of a circle. The function takes a single parameter, the radius, and defaults its value to 0 if it's not given. Add docstrings to the function.</span>

In [132]:
import math
def area_circle(radius=0):
    '''
    Computes the area of a circle
    
    Parameters
    ----------
    radius : int or float
        The radius of the circle
        
    Returns
    -------
    The area of the circle
    '''
    return math.pi * radius ** 2

area_circle(3)

28.274333882308138

### Exercise 5

<span style="color:green">Create a function that takes a string argument and returns True or False whether the string is a palindrome (spelled the same forward and backwards)</span>

In [133]:
def is_palindrome(word):
    return word == word[::-1]
is_palindrome('racecar')

True

### Exercise 6

<span style="color:green">Create a function `concat_sort_list` that takes two lists and concatenates them together, sorts the list and then returns the sorted list.</span>

In [134]:
def concat_sort_list(list_1, list_2):
    final_list = list_1 + list_2
    final_list.sort()
    return final_list

In [135]:
# test code with
concat_sort_list([4, 5, 2], [9, 0, -8]) == [-8, 0, 2, 4, 5, 9]

True

In [136]:
# theres actually a built in function to do this as well
def concat_sort_list2(list_1, list_2):
    return sorted(list_1 + list_2)

concat_sort_list2([1, 5, 6], [2,3,4])

[1, 2, 3, 4, 5, 6]

### Exercise 7

<span style="color:green">Create an anonymous function that calculates the area of a circle. Store it to a variable and check that it works.</span>

In [137]:
import math
area_circle = lambda radius: math.pi * radius ** 2
area_circle(5)

78.53981633974483

### Exercise 8

<span style="color:green">Use the sorted function to sort a list of strings using the last letter. Use an anonymous function passed to the key argument.</span>

In [138]:
string_list = ['banana', 'strawberry', 'orange', 'apple']
sorted(string_list, key = lambda word: word[-1])

['banana', 'orange', 'apple', 'strawberry']

### Exercise 9

<span style="color:green">Create a list of integers and sort them by their last digit. Use an anonymous function passed to the key argument.</span>

In [139]:
int_list = [109, 50, 434, 123131]
sorted(int_list, key = lambda x: x % 10)

[50, 123131, 434, 109]

### Advanced Exercise 10

<span style="color:green">Use the sorted function (with the **`key`** parameter) to sort a list of strings by the third highest alphabetical letter. Use a lambda expression to find this third highest letter. Take the word **python** for example. If you sort it by letter it becomes **hnopty**. The third highest letter is therefore 'o'.</span>

In [140]:
# make a string list with each string having three or more characters
string_list = 'some string list with many different words'.split()
sorted(string_list, key=lambda x: sorted(x)[2])

['different', 'string', 'many', 'some', 'words', 'list', 'with']

### Exercise 11

<span style="color:green">Use the map function to square each number in a list. Do the same with a list comprehension</span>

In [141]:
my_list = [9, 5, 1, 99]
list(map(lambda x: x ** 2, my_list))

[81, 25, 1, 9801]

In [142]:
[x ** 2 for x in my_list]

[81, 25, 1, 9801]

### Exercise 12

<span style="color:green">Read the documentation on the **`filter`** builtin function. Use an anonymous function to filter out the even values from a range object of values 0 to 9</span>

In [143]:
list(filter(lambda x: x % 2 == 1, range(10)))

[1, 3, 5, 7, 9]

### Exercise 13

<span style="color:green">Read the documentation on the **`reduce`** function which is part of the functools standard library. Use an anonymous function to sum up all the values from 0 to 9</span>

In [144]:
from functools import reduce
reduce(lambda x, y: x + y, range(10))

45

### Exercise 14: Advanced

<span style="color:green">Use **`map, reduce and filter`** to take the numbers 0 to 9, square them, filter out the even numbers and multiply the remaining together. This can be done in one line</span>

In [145]:
reduce(lambda x, y: x * y, filter(lambda x: x % 2 == 1, map(lambda x: x ** 2, range(10))))

893025

### Exercise 15

<span style="color:green">Write a normal function that replicates the one defined in Exercise 14.</span>

In [146]:
def mrf():
    a_list = []
    for x in range(10):
        y = x ** 2
        if y % 2 == 1:
            a_list.append(y)
            
    total = 1
    for x in a_list:
        total *= x
    return total
mrf()

893025

### Exercise 16: Advanced

<span style="color:green">Use list comprehensions and the **`sum`** function to take the numbers 0 to 9, square the even numbers, and sum them all up</span>

In [147]:
sum([x ** 2 for x in range(10) if x % 2])

165

### Exercise 17: Advanced
<span style="color:green">In this Exercise you will write a function to transpose a two dimensional matrix. Transposing a matrix means to make the rows become the columns and vice versa. Create your matrix by creating a list of lists. In this case just choose a simple matrix like a 2 by 3.</span>

In [148]:
# First lets pretty print our 3x2 matrix
matrix = [[1,2,3], [4,5,6]]
for row in matrix:
    print(row)

[1, 2, 3]
[4, 5, 6]

In [149]:
# need to convert this matrix to a 2 x 3 with rows and columns swapped
# assume each inner list is a row, the number of columns is the length of one inner list
def transpose(matrix):
    new_num_rows = len(matrix[0])
    new_num_cols = len(matrix)
    new_matrix = []
    for i in range(new_num_rows):
        new_matrix.append([])
        for j in range(new_num_cols):
            new_matrix[-1].append(matrix[j][i])
    return new_matrix

In [150]:
for row in transpose(matrix):
    print(row)

[1, 4]
[2, 5]
[3, 6]

### Exercise 18
<span style="color:green">Write a function that returns the roll of two dice. Use the random.randint function</span>

In [151]:
import random
def dice_roll():
    return random.randint(1, 6), random.randint(1, 6)
dice_roll()

(2, 3)

### Exercise 19
<span style="color:green">You will write a function that plays a simple dice game. The game works as follows: You roll two dice and record the sum. You keep rolling the two dice until you re-roll your original total. Return the number of rolls it took to re-roll the original total. Do not simulate the original roll. Instead use an argument to pass the function a number between 2 and 12. Use the function you created in Exercise 19 to roll the dice. </span>

In [152]:
def simple_dice_game(original_roll):
    n = 0
    while True:
        n += 1
        if sum(dice_roll()) == original_roll:
            break
    return n
simple_dice_game(5)

6

### Exercise 20: Advanced
<span style="color:green">This is a classic interview Exercise. Write a function that finds the degree difference between the minute and second on a clock. The function will accept two arguments, hour (between 1 and 12) and minute (between 0 and 59). Note: this should be the absolute difference, so 180 degrees would be the absolute max possible value. Test your function with some times and make sure it makes sense. </span>

In [153]:
def degree_diff(hour, minute):
    hour_degree = ((hour % 12) + minute / 60) * 30 
    minute_degree = minute * 6
    return min(abs(hour_degree - minute_degree), 360 - abs(hour_degree - minute_degree))
degree_diff(1, 15)

52.5

## 9. Tuples, Sets and Dictionaries

### Exercise 1

<span style="color:green">Use a list comprehension that iterates through all the tuple methods and filters out all of the private methods.</span>

In [154]:
a = (1, 2)
[method for method in dir(a) if method[0] != '_']

['count', 'index']

### Exercise 2

<span style="color:green">Define a set and think of a function that will output the number of elements in that set.</span>

In [155]:
a_set = {4, 5, 10}
len(a_set)

3

### Exercise 3

<span style="color:green">Create a set of all the even numbers from 0 to 100. Then create another set of every number divisible by 7 from 0 to 100. Find the intersection of those sets.</span>

In [156]:
a = set(range(0, 101, 2))
b = set(range(0, 101, 7))
a & b

{0, 14, 28, 42, 56, 70, 84, 98}

### Exercise 4

<span style="color:green">Find all the list and tuple methods that in common.</span>

In [157]:
tuple_methods = set(dir(tuple))
list_methods = set(dir(list))
tuple_methods & list_methods

{'__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index'}

### Exercise 5: Advanced
<span style="color:green">Create a function to make a list of all the Fibonacci numbers less than 1000 and another function to make a list of all the prime numbers less than a 1000. Use a set to find the numbers that are in both groups</span>

In [158]:
fib_list = [1, 1]
while  fib_list[-1] + fib_list[-2] < 1000:
    fib_list.append(fib_list[-2] + fib_list[-1])
    
prime_list = [1, 2]
from math import sqrt
for i in range(3, 1000):
    is_prime = True
    for j in range(2, int(sqrt(i) + 1)):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        prime_list.append(i)

set(fib_list) & set(prime_list)

{1, 2, 3, 5, 13, 89, 233}

### Exercise 6

<span style="color:green">Are dictionaries mutable or immutable objects?</span>

Mutable. We can add new key:value pairs, remove key:value pairs or change the value of one of the keys

### Exercise 7

<span style="color:green">Write a function that emulates the `get` dictionary method. The function will consist of three arguments: the dictionary, the key to lookup and the default value to return if the key is not in the dictionary. Test your function with the provided code</span>

In [159]:
def dict_get(dictionary, key, default):
    if key in dictionary:
        return dictionary[key]
    return default

In [160]:
# test code 
test_dict = {'Sally': [87, 76, 65], 'Jane' : [45, 98, 77], 'Adeline' : [65, 22, 10]}
key = 'jane'
default = [0, 0, 0]

print(dict_get(test_dict, key, default))
key = 'Jane'
print(dict_get(test_dict, key, default))

[0, 0, 0]
[45, 98, 77]

### Exercise 8

<span style="color:green">Create a function that accepts two parameters, a dictionary, and a string. If that string is in the dictionary, increment the value by 1. If not, create a new record in the dictionary with the string as a key and 0 as its value. Test your function with provided code.</span>

In [161]:
def add_to_dict(dictionary, key):
    if key in dictionary:
        dictionary[key] += 1
    else:
        dictionary[key] = 0

In [162]:
# test code
test_dict = {'Houston': 1, 'New Orleans':2}
add_to_dict(test_dict, 'New York')
add_to_dict(test_dict, 'New Orleans')
test_dict

{'Houston': 1, 'New Orleans': 3, 'New York': 0}

### Exercise 9

<span style="color:green">Create a new dictionary through a dictionary comp that gets the average score for each student</span>

In [163]:
students = {'Sally': [87, 76, 65], 'Jane' : [45, 98, 77], 'Adeline' : [65, 22, 10]}
avg = {student : sum(scores) / len(scores) for student, scores in students.items()}
avg

{'Sally': 76.0, 'Jane': 73.33333333333333, 'Adeline': 32.333333333333336}

### Exercise 10

<span style="color:green">Create a dictionary through a dictionary comp that has the student name as the key and the minimum grade as value but for only students that have an 'e' in their name.</span>

In [164]:
low_e = {student : min(scores) for student, scores in students.items() if 'e' in student}
low_e

{'Jane': 45, 'Adeline': 10}

### Exercise 11

<span style="color:green">Use a dictionary comp that loops through the numbers 0 to 10 and uses the integer as the key and a list with its squared and cubed value as its value.</span>

In [165]:
{n: [n ** 2, n ** 3] for n in range(11)}

{0: [0, 0],
 1: [1, 1],
 2: [4, 8],
 3: [9, 27],
 4: [16, 64],
 5: [25, 125],
 6: [36, 216],
 7: [49, 343],
 8: [64, 512],
 9: [81, 729],
 10: [100, 1000]}

### Exercise 12: Advanced

<span style="color:green">Iterate through each student and drop their lowest test grade. Replace it with 100.</span>

In [166]:
for student, scores in students.items():
    scores[scores.index(min(scores))] = 100
students

{'Sally': [87, 76, 100], 'Jane': [100, 98, 77], 'Adeline': [65, 22, 100]}